<div class="container">
  <div class="starter-template">

  </div>
  <div class="row" style="margin-bottom: 10px;">
    <div class="col-md-2 col-md-offset-10">
      <a type="button" class="btn btn-large btn-block btn-success" href="/add">Create New Ticket</a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">My tickets</div>
    <div class="panel-body">
      <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur.
        Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies
        vehicula ut id elit.</p>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Priority</th>
          <th>Created</th>
          <th>Status</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of collection">
          <th scope="row">{{item.priority.name}}</th>
          <td>{{item.created}}</td>
          <td>{{item.status.name}}</td>
          <td>{{item.category.name}}</td>
        </tr>        
      </tbody>
    </table>
  </div>
</div>